.Navbar {
    padding: 0 25px;
    height: var(--navheight);
    width: 100%;
    background-color: var(--main-bg5);
    color: var(--main-txt);
    font-family: 'Cabin';
    font-size: 120%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 12;
    position: fixed;
    top: var(--bannerheight);
    left: 0;
}

.Navbar > * {
    display: inline;
}

.Navbar > .Links {
    list-style-type: none;
}

.Navbar > .Links > .Link {
    display: inline;
    margin: 0 30px;
    transition: 200ms;
    position: relative;
}

.Link:hover > a {
    color: var(--alternate-bg4);
}

.Link > a {
    text-decoration: none;
    color: white;
    transition: inherit;
}

.Link > img {
    position: absolute;
    top: var(--navheight);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 10px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { box-shadow: none; }
    50% { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.34); }
    100% { box-shadow: none; }
}