.ProjectsPage {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}

.Projects_Container {
    min-height: calc(100vh - calc(var(--bannerheight) + var(--navheight) + var(--dropdownheight)));
    width: 100%;
}

@media screen and (max-width: 800px) {
    .Projects_Container {
        padding-top: calc(var(--dropdownheight) + 0px);
    }
}

/* page title */
.Projects_Container > h1 {
    color: white;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Shortcuts {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 0 15px;
}

.Shortcuts > li {
    margin: 0 5px;
    font-size: 175%;
    cursor: pointer;
    color: white;
}

/* breakdown */
.Breakdown {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 50px;
}

.Breakdown > section {
    background-color: green;
    padding: 40px;
    border-radius: 0 1.25rem 1.25rem 0;
}

.Breakdown > section > h2 {
    color: white;
}

.Breakdown > section > ul {
    list-style-position: inside;
}



/* INDIVIDUAL INFORMATION PANELS  */
.Breakdown > .Techs {
    background-color: blue;
    grid-column: 1/8;
}

.Breakdown > .Courses {
    background-color: green;
    border-radius: 1.25rem 0 0 1.25rem;
    grid-column: 3/11;
    margin: 50px 0;
}
.Breakdown > .Courses > h2 {
    text-align: right;
}
.Breakdown > .Courses > ul {
    direction: rtl;
}

.Breakdown > .Methods {
    background-color: orangered;
    grid-column: 1/8;
}


.Projects {
    background-color: aqua;
    padding: 100px 50px 50px;
}