.VideoLinkContainer {
    position: relative;
    cursor: pointer;
    width: 90%;
    align-self: center;
}
.Cover {
    border-radius: 0.5rem;
    background-color: rgba(128, 128, 128, 0.578);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.5rem;

    transition: 200ms;
}

.Cover > img {
    max-width: 2rem;
    height: auto;
    filter: drop-shadow(2px 3px 2px rgba(0,0,0,0.3));
}

.VideoLinkContainer:hover > .Cover {
    opacity: 1;
}