@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Inter:wght@200&family=Itim&family=Lato&family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
:root {
    --bannerheight: 30px;
    --navheight: 50px;
    --dropdownheight: 37.5px;
    --slide_tab_hgt: 40px;
    --main-bg: #222823;
    --main-bg2: #313732;
    --main-bg3: #242A25;
    --main-bg4: #131815;
    --main-bg5: #0b0d0c;
    --main-txt: #FFFDFA;
    --main-txt2: #d6d6d6;
    --alternate-bg: #020887;
    --alternate-bg2: #0A81D1;
    --alternate-bg3: #0CCA4A;
    --alternate-bg4: #7871ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: calc(var(--navheight) + var(--bannerheight));
    overflow-x: hidden;
    background-color: black;
}

@font-face {
    font-family: brat;
    src: url('/fonts/There\ Brat.ttf');
}

.emphasize {
    color: rgb(211, 26, 155);
}

#banner {
    background: linear-gradient(120deg, var(--alternate-bg3), var(--alternate-bg2));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bannerheight);
    z-index: 13;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}
