.Home {
    /* background-image: url('/imgs/tv-frame-png.png');
    background-size: 100% 100%; */
}

.Home > main {
    height: calc(100vh - calc(var(--navheight) + var(--bannerheight)));
    width: 100vw;
    color: var(--main-bg4);
    background-color: var(--main-txt);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home > main > h1 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
    padding: 0 50px;
}
.Home > main > h3 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 22px;
    padding: 0 50px;
}

.Home > main > blockquote {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Home > main > blockquote > p{
    font-size: 20px;
    font-family: 'Lato';
    text-align: center;
    padding: 3px 25px;
}
.Home > main > blockquote > p > i {
    margin: 0 2px;
}
.Home > main > blockquote > p > span {
    color: var(--alternate-bg2);
}