.Home {
    /* background-image: url('/imgs/tv-frame-png.png');
    background-size: 100% 100%; */
}

.Home > main {
    height: calc(100vh - var(--navheight));
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home > main > .Name {
    color: white;
    font-family: brat;
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(78, 78, 78, 0.7);
    text-align: center;
}

.Home > main > ul {
    display: flex;
}

.Home > main > ul > * {
    margin: 10px;
}

.Home > main > input {

    display: block;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 10vh;
    max-width: 50%;
    margin-top: 50px;

}